asgiref==3.10.0
Django==5.2.7
djangorestframework==3.16.1
python-dotenv==1.2.1
sqlparse==0.5.3
tzdata==2025.2
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.110.0
celery==5.3.4
redis==5.0.1
django-cors-headers==4.3.1